<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- fonts -->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    
    <link rel="stylesheet" href="css/style.css">
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    
    <script src="js/main.js"></script>

    <title>Boolzap</title>
  </head>
  
  <body>
    <main id="root">
      <div class="banner"></div>
      <div class="window">
        <div class="chat_container clearfix">
  
          <div class="contacts_side float-start">
            <div class="section_header">
              <img src="img/avatar_4.jpg" alt="profile picture">
              <div class="user_info">
                <h2>Nome Utente</h2>
              </div>
              <div class="btn_container">
                <i class="fas fa-circle-notch"></i>
                <i class="fas fa-comment-alt"></i>
                <i class="fas fa-ellipsis-v"></i>
              </div>
            </div>
  
            <div class="notify_me_banner">
              <i class="fas fa-bell-slash"></i>
              <div class="notify_me_info">
                <h5>Ricevi notifiche di nuovi messaggi</h5>
                <a href="#">Attiva notiiche desktop</a>
              </div>
  
            </div>
  
            <div class="search_contact_container">
              <div class="input_container">
                <label for="search"><i class="fas fa-search"></i></label>
                <input type="text" name="search" id="search" placeholder="Cerca o inizia una nuova chat">
              </div>
            </div>
  
            <div class="contacts_list">
              <ul>
  
                <li v-for="contact in contactList" @click=" openChat(contact) ">
                  <div class="contact_card">
                    <img :src="contact.profileImgSrc" alt="contact profile picture">
                    <div class="contact_info">
                      <h2> {{contact.name}}  </h2>
                      <p class="contact_last_message">{{ lastMsg(contact.messages) }}</p>
                      <div class="date">
                        10/01/2020 16:15:22
                      </div>
                    </div>
                  </div>
                </li>
              
              </ul>
            </div>

          </div>
  
          <div class="chat_side float-start">
            <div class="section_header">
              <img :src=" activeContact.profileImgSrc " alt="profile picture">
              <div class="user_info">
                <h2> {{ activeContact.name }} </h2>
                <p>Ultimo accesso oggi alle 10/01/2020 16:15:22</p>
              </div>
              <div class="btn_container">
                <i class="fas fa-search"></i>
                <i class="fas fa-paperclip"></i>
                <i class="fas fa-ellipsis-v"></i>
              </div>
            </div>
  
            <div class="chat_box">
              
              
              <div class="msg_container" :class=" message.status === 'received' ? 'msg_received_position' : 'msg_sent_position' "  v-for=" message in activeContact['messages'] ">
                <div class="msg_box" :class=" message.status === 'received' ? 'msg_received_bg' : 'msg_sent_bg' " >
                  <p class="msg_text">{{message.text}}</p>
                  <p class="msg_date text-end">{{message.date}}</p>
                </div>
              </div>
            
            </div>
  
            <div class="chat_new_message">
              <i class="far fa-smile"></i>
              <input v-model="newMsg" @keyup.enter="onEnterAddNewMsg" type="text" name="new_message" id="new_message" placeholder="Scrivi un messaggio">
              <i class="fas fa-microphone"></i>
            </div>
  
          </div>
  
        </div>
      </div>
    </main>
  </body>
</html>
